header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  .frm-group {
    display: flex;
  }
  form {
    &:last-child {
      margin-top: 20px;
    }
    z-index: 2;
    position: relative;
    background: rgba($white, 0.8);
    padding: 0 10px;

    h2 {
      margin: 0;
      font-family: $Roboto;
      font-size: 3em;
    }

    label {
      font-family: $Sans;
      font-size: 1.4em;
    }

    input {
      padding: 20px 10px;
      width: 400px;
      margin: 5px 0;
      font-size: 1.3em;
    }
    .submit-btn {
      background: $blue;
      color: $white;
      font-size: 2em;
      width: 100%;
      padding: 20px;
      margin: 20px 0;
    }
  }
}
